*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: "Microsoft YaHei UI",Arial;
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
    /* 1.去除android a/button/input标签被点击时产生的边框;2.去除ios a标签被点击时产生的半透明灰色背景 */
    word-wrap: break-word;
    word-break: break-all;

    /*-webkit-touch-callout:none;  !*系统默认菜单被禁用*!*/
    /*-webkit-user-select:none; !*webkit浏览器*!*/
    /*-khtml-user-select:none; !*早期浏览器*!*/
    /*-moz-user-select:none;!*火狐*!*/
    /*-ms-user-select:none; !*IE10*!*/
    /*user-select:none;*/
}
a
{
    text-decoration: none;
    color:#333333;
}
body
{
    width: 100%;
    background-color: #f8f8f8;
    overflow-x: hidden;
    line-height: normal;
}
input,textarea
{
    border:none;
    outline: none;
    box-shadow: none;
    background-color: #fff;
}
#container{
    background-color: #f8f8f8;
}
/*保存按钮*/
.dt-btn-save{
    text-align: center;
    background-color: #128fe9;
    color: #ffffff;
    /*width: 100%;*/
    height: 40px;
    margin: 0 15px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
/*多行文本框*/
.dt-textarea{
    width: 100%;
    text-indent: 10px;
    line-height: 20px;
}

/*基本输入框、时间选择器、多行文本输入框*/
select::-ms-expand { display: none; }
.dt-item-head{
    line-height: 50px;
    text-indent: 15px;
    font-size: 16px;
}
.dt-item{
    width:100%;
    height:45px;
    border-top: 1px solid #f1f1f1;
    background-color:#ffffff;
}
.dt-item-title{
    /* width: 40%; */
    line-height: 46px;
    position: absolute;
    left: 15px;
    z-index: 10;
}
.dt-item-value{
    width:50%;
    height:45px;
    line-height: 46px;
    text-align: right;
    background-color:#ffffff;
    border:none;
    outline: none;
    /*清除浏览器默认样式*/
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance:textfield;/*在firefox下移除input[number]的上下箭头*/
    position: absolute;
    right: 15px;
    direction: rtl;
}
.dt-item-select{
    right:30px;
}
.dt-item-option{
    display: none;
}
.dt-item-right-icon{
    width: 10px;
    background-image: url(../../project/img/icon-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    position: absolute;
    right: 15px;
    height: 45px;
}

/*input[type="date"]:before{*/
    /*color:#333;*/
    /*content:attr(placeholder);*/
/*}*/
/*input[type="date"].full:before {*/
    /*color:#333;*/
    /*content:""!important;*/
/*}*/
.dt-item-detail{
    right: 30px;
}
.dt-item-date{
    right: 30px;
    opacity:0;
}
/*.dt-item-date-active{*/
    /*opacity:0;*/
/*}*/
.dt-item-textarea{
    height: 75px;
    padding:10px 15px;
    background-color: #ffffff;
}
.dt-item-input{
    height: 75px;
    line-height: 25px;
    outline: none;
    border: none;
    margin: 0;
    width: 100%;
}


.previous-btn,.next-btn
{
    margin-top: 10px;
    margin-bottom: 10px;
}