//web

@media screen and (min-width: 1200px) {
  .land-p {
    margin-top: 35vh;
  }

  .false-div {
    padding-top: 5%;
  }

  .false-font-small {
    font-size: 15px;
  }

  .false-font {
    font-size: 20px;
  }

  .land-font-size {
    font-size: 16px;
  }

  #land {
    .el-form-item__label {
      font-size: 14px;
    }
  }

  .success-text {
    font-size: 16px;
  }
}

//ipad pro && ipad mini 481px

@media screen and (max-width: 1200px) and (min-width: 481px) {
  .land-p {
    margin-top: 45vh;
  }

  .false-div {
    padding-top: 15%;
  }

  .false-font {
    font-size: 25px;
  }

  .false-font-small {
    font-size: 20px;
  }

  .land-font-size {
    font-size: 14px;
  }

  #land {
    .el-form-item__label {
      font-size: 25px;
    }
  }

  .success-text {
    font-size: 14px;
  }
}