<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/vendors/element/index.css">
    <link rel="stylesheet/less" type="text/css" href="/front/css/comman.less">
    <link rel="stylesheet/less" type="text/css" href="/front/css/details.less">
</head>
<body>
<div id="details" v-cloak>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <!--<div v-for="(item,index) in formTable">-->
        <!--<el-form-item label="123" prop="tableContent">-->
        <!--<el-input v-model="formTable.index"></el-input>-->
        <!--</el-form-item>-->
        <!--</div>-->
        <form-table v-for="item in ruleForm.tables" :key="item.id" :list="item" >

        </form-table>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script src="/public/vendors/jQuery/jquery-3.3.1.min.js"></script>
<script src="/public/vendors/less/less-3.8.1.js"></script>
<script src="/public/vendors/vue/vue-2.5.15.js"></script>
<script src="//unpkg.com/element-ui/lib/index.js"></script>
<script src="/public/dreamtouch/js/dt-helper.js"></script>

<script src="/public/dreamtouch/js/comman.js"></script>
<script src="/front/js/details.js"></script>

</body>
</html>

