<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/vendors/element/index.css">
    <link rel="stylesheet/less" type="text/css" href="/front/css/comman.less">
    <link rel="stylesheet/less" type="text/css" href="/front/css/list.less">

</head>
<body>
<div id='list' v-cloak>
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <el-table-column
                prop="formId"
                label="序号"
                width="180">
        </el-table-column>
        <el-table-column
                prop="formName"
                label="名称"
                width="250">
        </el-table-column>
        <el-table-column
                label="开始时间"
                width="300">
            <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">${ scope.row.beginTime }</span>
            </template>
        </el-table-column>
        <el-table-column
                label="结束时间"
                width="300">
            <template slot-scope="scope">
                <i class="el-icon-time"></i>
                <span style="margin-left: 10px">${scope.row.endTime}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="状态"
        >
            <template slot-scope="scope">
                <div v-if="scope.row.formStatus===1">
                    <el-button type="primary" round>填写</el-button>
                </div>
                <div v-else>
                    <el-button type="danger"round>禁用</el-button>
                </div>
            </template>
        </el-table-column>
    </el-table>
</div>
<script src="/public/vendors/jQuery/jquery-3.3.1.min.js"></script>
<script src="/public/vendors/less/less-3.8.1.js"></script>
<script src="/public/vendors/vue/vue-2.5.15.js"></script>
<script src="//unpkg.com/element-ui/lib/index.js"></script>
<script src="/public/dreamtouch/js/comman.js"></script>
<script src="/front/js/list.js"></script>
</body>
</html>

