<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/vendors/element/index.css">
    <link rel="stylesheet/less" type="text/css" href="/front/css/comman.less">
    <link rel="stylesheet/less" type="text/css" href="/front/css/success.less">

</head>
<body>
<div id='success' v-cloak>
    <h1>
        Thank you for your cooperation!
        <br>
        数字媒体技术172<br>
        <span class="success-text" id="success-s">3</span><span class="success-text">秒后返回首页</span>
    </h1>
    <canvas></canvas>
</div>
<script src="/public/vendors/jQuery/jquery-3.3.1.min.js"></script>
<script src="/public/vendors/less/less-3.8.1.js"></script>
<script src="/public/vendors/vue/vue-2.5.15.js"></script>
<script src="//unpkg.com/element-ui/lib/index.js"></script>
<script src="/public/dreamtouch/js/comman.js"></script>
<script src="/front/js/success.js"></script>
</body>
</html>

